/Ej1_guiaTeorica/nbproject/private/
/Ej1_guiaTeorica2/nbproject/private/
/Ej2_guiaTeorica2/nbproject/private/
/Ej3_guiaTeorica2/nbproject/private/
/Ej3_guiaTeorica2/build/
/Ej4_guiaTeorica2/nbproject/private/
/Ej4_guiaTeorica2/build/
/Ej1_guia2Ejercicios/nbproject/private/
/Ej1_guia2Ejercicios/build/